header {
    background-color: rgb(54, 54, 54);
    padding-top: 5rem;
    padding-left: 20rem;
    padding-right: 20rem;
}

.info-strip {
    align-items: flex-end;
    color: white;
    display: flex;
    flex-direction: row;
}

.avatar {
    height: 200px;
    width: 200px;
}

.avatar-image {
    margin-top: 2rem;
}

.name-stats {
    border-top: 1px solid white;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.name {
    margin-left: 2rem;
}

.stats {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
}

.goals {
    justify-self: end;
}

.goals-overview {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.progress {
    margin-top: 1rem;
}

.daily-tracker {
    width: 100%;
    height: 210px;
}

.square {
    margin: 10%;
}